extends ../layout/index

block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-purple Bienes 
            span.font-normal.text-black Raices
        h2.text-center.text-2xl.font-extrabold= page

        .mt-8.mx-auto.max-w-lg
            .bg-white.py-8.px-6.rounded-md.shadow-md
                form(action="/login/recovery" method="post").space-y-5
                    div.mb-5
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold Ingresa tu email:
                        input#email.w-full.px-4.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Ingresa tu email" type="email" name="email" required)

                    input(class="w-full bg-purple text-white hover:bg-pink font-bold py-3 cursor-pointer" type="submit" value="Recuperar contraseña")

                    .flex.items-center.justify-between
                        a.text-sm.text-yellow(href="./login" class="hover:text-green hover:underline") ¿Ya tienes una cuenta? Inicia sesión
                        a.text-sm.text-yellow(href="./createAccount" class="hover:text-green hover:underline") ¿No tienes una cuenta? Crea una