extends ../layout/index

block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-purple Bienes 
            span.font-normal.text-black Raices
        h2.text-center.text-2xl.font-extrabold= page

        if errors
            div(class="max-w-md mx-auto my-10")
                each error in errors
                    p.bg-purple.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

        .mt-8.mx-auto.max-w-lg
            .bg-white.py-8.px-6.rounded-md.shadow-md
                form.space-y-5(method="POST" action="/user/createAccount" noValidate)
                    div.mb-5
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold Ingresa tu nombre completo:
                        input#nombre.w-full.px-4.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Ingresa tu nombre" type="text" name="nombre" value= user ? user.nombre : '')
                    div.mb-5
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold Ingresa tu email:
                        input#email.w-full.px-4.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Ingresa tu email" type="email" name="email" value= user ? user.email : '')
                    div.mb-5
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold Ingresa tu contraseña:
                        input#password.w-full.px-4.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Ingresa tu contraseña" type="password" name="password")
                    div.mb-5
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold Confirma tu contraseña:
                        input#password2.w-full.px-4.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Confirma tu contraseña" type="password" name="password2")

                    input(class="w-full bg-purple text-white hover:bg-pink font-bold py-3 cursor-pointer" type="submit" value="Crear cuenta")

                    .flex.items-center.justify-between
                        a.text-sm.text-yellow(href="./login" class="hover:text-green hover:underline") ¿Ya tienes una cuenta? Inicia sesión
                        a.text-sm.text-yellow(href="./passwordRecovery" class="hover:text-green hover:underline") ¿Olvidaste tu contraseña? Recupérala
